{% extends 'dash_layout.html' %}

{% block title %}
Billing
{% endblock %}

{% block header_text %}
{% endblock %}

{% block main_title %}
Billing
{% endblock %}

{% block content %}
<hr>
{% if current_membership == 'Free' %}
<h4>Current Membership: <b>{{ current_membership }}</b></h4>
{% elif current_membership == 'Standard' %}
<h4>Current Membership: <b>{{ current_membership }}</b> <small>since
        {{ user_subscription.get_created_date }}</small></h4>
<p>Next payment due: {{ user_subscription.get_next_billing_date }}</p>
{% else %}
<p>You don't have an active membership plan.
    <a href="{% url 'pricing' %}"><b>Check them out here</b></a> or sign up below.
</p>
{% endif %}
<hr>
{% for object in object_list|slice:"1:3" %}
<div class="col-sm-4 col-md-4">
    <h3>{{ object.membership_type }}</h3>
    {% if object.membership_type != 'Free' %}
    <form method="POST" action="{% url 'billing' %}">
        {% csrf_token %}
        {% if object.membership_type != current_membership %}
        <button class="btn btn-warning">Upgrade</button>
        {% else %}
        <small>This is your current membership</small>
        {% endif %}
        <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
    </form>
    {% endif %}
</div>
{% endfor %}
{% if current_membership != 'Free' %}
<p>If you would like to cancel a paid plan, <a href="{% url 'confirm_cancel' %}"><b>click here.</b></a></p>
{% else %}
<small>This is your current membership</small>
{% endif %}
{% endblock %}