{% extends 'dash_layout.html' %}

{% block title %}
Billing
{% endblock %}

{% block header_text %}
{% endblock %}

{% block main_title %}
Billing
{% endblock %}

{% block content %}
<h3>{{ memberships.1 }}</h3>
{% if current_membership == memberships.1.membership_type %}
<small>This is your current membership</small>
{% else %}
<button class="btn">Select</button>
{% endif %}

<h3>{{ memberships.2 }}</h3>
{% if current_membership == memberships.1.membership_type %}
<button class="btn">Upgrade</button>
{% elif current_membership == memberships.0.membership_type %}
<button class="btn">Select</button>
{% else %}
<small>This is your current membership</small>
{% endif %}

<h3>{{ memberships.0 }}</h3>
{% if memberships.0.membership_type != current_membership %}
<button><a href="{% url 'contact' %}" class="btn">Contact Us</a></button>
{% else %}
<small>This is your current membership</small>
{% endif %}
{% endblock %}